@charset "UTF-8";
/* 回答はここから */
.inline--box {
  display: inline-block;
  width: 200px;
  padding: 20px 0;
  background-color: #ffff;
  font-size: 16px;
}
.textalign--box {
  text-align: center;
}
.textalign--text {
  display: inline-block;
  padding: 10px;
  background-color: #a4b3e9;
}
.margin--text {
  text-align: center;
  width: 90px;
  padding: 10px;
  margin: 0 auto;
  background-color: #a4b3e9;
}
.table--cell {
  display: table;
}
.table--textbox {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.table--text {
  background-color: #fff;
  display: inline-block;
  padding: 10px;
}
.flex--cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex--text {
  padding: 10px;
  background-color: #fff;
}
.position--relative {
  position: relative;
}
.position--absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a4b3e9;
  padding: 10px;
}